<div class="slider">
  <div class="slides">
    <%= image_tag "https://production.autoforce.com/uploads/used_model/profile_image/23703300/model_middle_webp_comprar-corolla-xei-2-0-aut-2087_96b3644fde.jpg.webp", class: "custom-image" %>
  </div>
    <div class="car-info">
      <h3>Corolla</h3>
      <p class="subtitle">XEI 2.0 AUT</p>
      <p class="price">R$ 129.900,00</p>

      <div class="car-details">
        <span><i class="fas fa-industry"></i> Toyota</span>
        <span><i class="fas fa-car"></i> Corolla XEi</span>
        <span><i class="fas fa-calendar-alt"></i> 2019 / 2020</span>
        <span><i class="fas fa-palette"></i> Prata</span>
        <span><i class="fas fa-road"></i> 42200km</span>
        <span><i class="fas fa-cogs"></i> Automático</span>
      </div>
    </div>
</div>

