<div class="slider">
  <div class="slides">
    <%= image_tag "https://production.autoforce.com/uploads/group/about_us_image/1814/comprar-dealer-seminovos_df20973bc2.png", class: "custom-image" %>
  </div>
  <p>Desde a nossa fundação, em xxxx, acreditamos que o sucesso de uma empresa está diretamente ligado à satisfação dos nossos clientes. Por isso, trabalhamos incansavelmente para oferecer a melhor experiência em vendas, pós-vendas e serviços automotivos.</p>

  <p>Somos uma equipe de profissionais apaixonados por carros, que busca sempre se atualizar e se desenvolver para atender às expectativas de nossos clientes. Oferecemos serviços personalizados e soluções sob medida para cada cliente, sempre com transparência e ética profissional.</p>

  <p>Representamos as melhores marcas do mercado automotivo, e temos um amplo estoque de veículos novos e seminovos, que atendem aos mais variados perfis de clientes. Além disso, contamos com uma oficina completa, com tecnologia de ponta e profissionais altamente qualificados, para oferecer os melhores serviços de manutenção e atendimento aos nossos clientes.</p>

  <p>Acreditamos que a nossa empresa tem um papel fundamental na sociedade, e por isso, estamos sempre em busca de novas formas de contribuir com o desenvolvimento sustentável e com a responsabilidade social.</p>

  <p>Nosso objetivo é proporcionar aos nossos clientes a melhor experiência no mercado automotivo, sempre com qualidade, transparência e comprometimento. Venha nos visitar e conhecer o nosso trabalho de perto.</p>
</div>

